<% unless current_user.requested_friends.empty? %>
<div id="bord"></div>
<% current_user.requested_friends.each do |u| %>
<div id="friend-wrapper">
    <div class="friend">
        <div class="user-image">
           	<% if u.albums.first.photos.first %>
				<%=link_to image_tag(u.albums.first.photos.first.public_filename(:small)),user_friend_path(@user, u) %>
				<% else %>
				<%=link_to image_tag('/images/user_default_small.png'), user_friend_path(@user, u) %>
				<% end %>
        </div>
        <div id="user-control">
            <div id="last-cell">
            	<% if @user.id == current_user.id %>
                <%= link_to 'Cancel', user_friend_path(:user_id => current_user, :id => u),
                :method => :delete, :confirm => 'Are you sure?' %>
				<% end %>
            </div>
        </div>
        <div id="user-main">
            <h2><%= link_to_function u.login, "popup('#{u.id}')" %></h2>
            <p>
                <%= link_to 'View Friends', user_friends_path(u) %> | <%= link_to 'Message', new_sent_path %>
            </p>
        </div>
    </div>
</div>
<div id="light_<%= u.id.to_s%>" class="white_content" style="display:none">
	<%=render :partial => 'shared/show_user', :locals=>{:u => u}%>	  
</div>
<% end %>
<% else %>
None<% end %>

