<div class="mail">
    <h2><%=h @folder.name %><%=h "(" + @new_messages.size.to_s + ")" if(@new_messages.size != 0) %></h2>
    <% form_tag delete_messages_mailbox_path, :method => :delete do |f| %>
    <%=hidden_field_tag :id, @folder.id %>
    <div>
        Select: <%=link_to_function "All", update_page {|page| page.select('#content input').each {|x|x.checked = true}} %>
        <%=link_to_function "None", update_page {|page| page.select('#content input').each {|x|x.checked = false}} %>
    </div>
    <table border="1" width="100%" cellpadding="1" cellspacing="1">
        <tr>
            <th width="5%">
                <%=submit_tag "Delete", :onclick => "return #{confirm_javascript_function("Are you sure")};" %>
            </th>
            <th width="15%">
                From
            </th>
            <th>
                Subject
            </th>
            <th width="15%">
                Received
            </th>
        </tr>
        <% for message in @messages %>
        <tr>
            <td>
                <%=check_box_tag "message_ids[]", message.id %>
            </td>
            <td>
                <%=link_to message.author.login, user_path(message.author), 
						:title=>"Check #{message.author.login}'s profile" %>
            </td>
            <td>
                <% if (message.read_at == nil) %>
                <%= link_to h(message.subject), message_path(message), :style=>"font-weight:bold;" %>
                <% else %>
                <%= link_to h(message.subject), message_path(message) %>
                <% end %>
            </td>
            <td>
                <%= distance_of_time_in_words(message.created_at, Time.now) %> ago
            </td>
        </tr>
        <% end %>
    </table>
    <% end %>
    <br/>
    <center>
        <% if @messages.empty? %>
        <p>
            Your Inbox is empty. <%=link_to "Compose a message", new_sent_path %>
        </p>
        <% end %>
    </center>
</div>
<%= will_paginate @messages %>
<%content_for :navigation do %>
<%=render :partial=>"shared/submenu" %>
<%end %>